nav, .nav-placeholder {
    height: 4.75rem;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    padding-right: 1em;
}

.menu-svg {
  margin: 0px 0.125rem;
  width: 1.5rem;
  height: 2.5rem;
  position: relative;
  stroke-width: 2px;
  z-index: 100;
  stroke: black;
  cursor: pointer;
}

.menu-button {
  background: white;
  outline: none;
  box-shadow: none;
  border: none;
}

