.donate {
  margin-bottom: 2em;
  text-align: center;
}


.donate img {
  max-height: 219px;
}

.loading {
  text-align: center;
  margin-bottom: 2em;
}

/* https://stackoverflow.com/a/18486387/1657101 */
.center-absolute {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.donate .button-container {
  bottom: 0;
  z-index: -1;
}

.donate button {
  --action-color: #97d7f5;
  --action-text-color: #c93a84;;
;

  outline: none;
  border: none;

  background: var(--action-color);

  padding: 1em;
  border-radius: 0.5em;

  color: var(--action-text-color);
  font-weight: bold;
  font-family: monospace;
  font-size: 1em;
}


.google-pay-container {
  text-align: center;
  margin-bottom: 2em;
}

.google-pay {
  height: 3em;
  width: 12em;
}
