html, body {
  padding: 0;
  margin: 0;
}

.App {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

article img, article video {
  max-width: 100%;
  max-height: 50vh;
  margin: auto;
  display: block;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 1000;
    width: 100%;
}

@media (max-width: 490px) {
  .peron-image {
    display: block;
  }
  .peron-image-wide {
    display: none;
  }
}

@media (min-width: 491px) {
  .peron-image {
    display: none;
  }
  .peron-image-wide {
    display: block;
  }
}

.logo {
  width: 3.5em;
  height: 3.5em;
}

.logo-container {
  background: white;
  margin: 0.5rem;
}


.logo-link {
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.brand {
  font-size: 2em;
  font-family: monospace;
  align-self: center;
}

h2 {
  font-size: 1.5em;
  font-family: monospace;
  align-self: center;
  margin: 1em;
  line-height: 1.4;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-family: monospace;
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
}

article {
  text-align: justify;
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5;
}

article > p {
  padding: 1em;
}

article b {
  color: #264d89;
}

article em {
  color: #264d89;
}

article > figure, article > img, .peron-image, .peron-image-wide {
  max-width: 100%;
  margin-bottom: 0.5em;
  box-sizing: border-box;
}

article > figure {
  margin: auto;
}

article figcaption {
  text-align: center;
  color: #777;
  margin-top: 0.2em;
  font-size: 0.9em;
}

article figcaption a {
  color: #b59244;
  text-decoration: none;
}

article figcaption a {
  text-decoration: none;
}

@media screen and (min-width: 400px) {
  section.about {
    display: flex;
    flex-wrap: wrap;
  }

  section.about > article {
    flex: 50%;
    padding: 1em;
    box-sizing: border-box;
  }

  article video {
    background:linear-gradient(2deg, #f56d02, #0384e8);
    /* align with the "Team" section :)) */
    padding: 80px 0;
  }
}
